[Unit]
Requires=systemd-networkd.socket
After=systemd-networkd.socket

[Service]
# Only add this first line if you need wifi for your app to function
#ExecStartPre=/lib/systemd/systemd-networkd-wait-online --interface=wlan0
# Replace path as appropriate
ExecStart=/usr/bin/node /home/pi/Development/react-pi-blocks/server/server.js
Restart=always
StandardOutput=syslog
StandardError=syslog
# Replace name as appropriate
SyslogIdentifier=react-pi-blocks
Environment=NODE_ENV=production
User=pi
Group=pi

[Install]
WantedBy=multi-user.target